body {
	width: 100vw;
	height: 100vh;
  }
  
  @media (min-width: 1024px) {
	.city {
	  width: 100vw;
	  height: 100vh;
	  background:
		url(../images/city23.svg) no-repeat right 3em center / 25%,
		url(../images/train.svg) no-repeat bottom left / 20%,
		#f5f5f4;
	}
  }
  
  @media (max-width: 1023px) {
	.city-mob {
	  width: 100vw;
	  height: 100vh;
	  background: url(../images/city23.svg) no-repeat top 4em center / 90dvw, #f5f5f4;
	}
  }
  
  /* FONTS */
  
  @font-face {
	font-family: "Dosis";
	font-weight: 400;
	font-style: normal;
  
	font-display: swap;
	src: url("../fonts/dosis.woff2") format("woff2");
  }
  
  @font-face {
	font-family: "Dosis";
	font-weight: 700;
	font-style: normal;
  
	font-display: swap;
	src: url("../fonts/dosis-700.woff2") format("woff2");
  }
  
  p {
	font-family: Dosis, sans-serif;
	font-weight: 400;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5 {
	font-family: Dosis, sans-serif;
	font-weight: 700;
  }
  